In [4]:
import pandas as pd

data_filepath = './raw_data/ETTh1.csv'
# data_filepath = './raw_data/ETTh2.csv'

df = pd.read_csv(data_filepath)
df
# df.columns

,date,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,2016-07-01 00:00:00,5.827,2.009,1.599,0.462,4.203,1.340,30.531000
1,2016-07-01 01:00:00,5.693,2.076,1.492,0.426,4.142,1.371,27.787001
2,2016-07-01 02:00:00,5.157,1.741,1.279,0.355,3.777,1.218,27.787001
3,2016-07-01 03:00:00,5.090,1.942,1.279,0.391,3.807,1.279,25.044001
4,2016-07-01 04:00:00,5.358,1.942,1.492,0.462,3.868,1.279,21.948000
...,...,...,...,...,...,...,...,...
17415,2018-06-26 15:00:00,-1.674,3.550,-5.615,2.132,3.472,1.523,10.904000
17416,2018-06-26 16:00:00,-5.492,4.287,-9.132,2.274,3.533,1.675,11.044000
17417,2018-06-26 17:00:00,2.813,3.818,-0.817,2.097,3.716,1.523,10.271000
17418,2018-06-26 18:00:00,9.243,3.818,5.472,2.097,3.655,1.432,9.778000
17419,2018-06-26 19:00:00,10.114,3.550,6.183,1.564,3.716,1.462,9.567000

In [5]:
processed_data_filepath = './train_data/EETh1_96_96.csv'

df = pd.read_csv(processed_data_filepath)
df

,Unnamed: 0,var1(t-96),var2(t-96),var3(t-96),var4(t-96),var5(t-96),var6(t-96),var7(t-96),var1(t-95),var2(t-95),...,var5(t+94),var6(t+94),var7(t+94),var1(t+95),var2(t+95),var3(t+95),var4(t+95),var5(t+95),var6(t+95),var7(t+95)
0,96,5.827,2.009,1.599,0.462,4.203,1.340,30.531,5.693,2.076,...,3.777,1.706,31.234,18.152,8.841,12.402,4.193,5.818,3.046,30.531
1,97,5.693,2.076,1.492,0.426,4.142,1.371,27.787,5.157,1.741,...,5.818,3.046,30.531,14.602,5.961,11.300,3.340,3.259,1.767,30.953
2,98,5.157,1.741,1.279,0.355,3.777,1.218,27.787,5.090,1.942,...,3.259,1.767,30.953,14.535,6.162,11.691,3.909,3.046,1.645,30.320
3,99,5.090,1.942,1.279,0.391,3.807,1.279,25.044,5.358,1.942,...,3.046,1.645,30.320,14.401,6.296,11.727,3.944,2.802,1.614,29.405
4,100,5.358,1.942,1.492,0.462,3.868,1.279,21.948,5.626,2.143,...,2.802,1.614,29.405,13.999,6.497,10.945,3.198,2.711,1.675,28.702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17224,17320,0.469,2.210,-2.416,0.640,3.290,1.462,11.959,2.880,1.942,...,3.320,1.432,10.200,-1.674,3.550,-5.615,2.132,3.472,1.523,10.904
17225,17321,2.880,1.942,-0.640,0.391,3.503,1.340,12.029,6.966,2.210,...,3.472,1.523,10.904,-5.492,4.287,-9.132,2.274,3.533,1.675,11.044
17226,17322,6.966,2.210,3.589,0.533,3.381,1.371,12.029,8.640,1.942,...,3.533,1.675,11.044,2.813,3.818,-0.817,2.097,3.716,1.523,10.271
17227,17323,8.640,1.942,5.543,0.533,3.107,1.097,11.818,11.454,2.411,...,3.716,1.523,10.271,9.243,3.818,5.472,2.097,3.655,1.432,9.778
17228,17324,11.454,2.411,7.320,0.675,4.112,1.249,10.622,12.927,3.885,...,3.655,1.432,9.778,10.114,3.550,6.183,1.564,3.716,1.462,9.567